*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2{ 
    height:95vh;
    width:95vw;
    background-color: rgba(0, 56, 201, 0.22);
}
.form-group{
    display: flex;
    flex-direction: column;
}
.formss{
    width: 50%;
}